.btn {
  text-transform: uppercase;
  transition: all ease .3s;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 40px;
  min-width: 140px;
  font-size: rem(14);
  
  &:active,
  &.active {
    box-shadow: none;
  }

  &:focus {
    outline: none;
  }
}

.btn-primary {
  border: none;
  background-color: $accent-color;
  color: $dark-gray;
  font-weight: 600;
  
  &:hover,
  &:focus {
    color: $dark-gray;
    background-color: $accent-color-lighter;
  }
}

.btn-outline {
  color: $dark-gray;
  border: 1px solid $accent-color;
  background: transparent;
  font-weight: 600;
  
  &:hover,
  &:focus {
    color: #fff;
    background: $accent-color;
    border-color: $accent-color;
  }
}

.btn-rounded {
  border-radius: 50px;
}

.nav-tabs > li > a {
  border-radius: 0;
  
  &.btn:hover,
  &.btn.focus {
    background-color: $accent-color;
    border-color: $accent-color;
  }
}

.btn-tab {
  min-width: 150px;
  line-height: 50px;
  background: #d0d0d0;
  font-weight: 600;
  color: $dark-gray;
  border-radius: 0;
  
  @include breakpoint(small) {
    min-width: 180px;
  }
  
  &:hover,
  &:active,
  &.active {
    background: $accent-color;
  }
}

.btn-group {
  .btn {
    min-width: 0;
  }

  &.open .dropdown-toggle {
    box-shadow: none;
  }
}

.lang-selector {
  img {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
    vertical-align: text-bottom;
    margin-right: 2px;
  }
  
  .dropdown-menu {
    min-width: 0;
  }

  .btn {
    background: none;
    line-height: 32px;
    padding: 0 7px;
  }
}