.search-form {
  display: inline-block;
  min-width: 200px;
  position: relative;
  
  .form-control {
    width: 100%;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid $dark-gray;
    box-shadow: none;
    font-style: italic;
    color: $dark-gray;
  }
  
  button[type="submit"] {
    background: none;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      transition: all ease .3s;
      @include triangle(6px, $dark-gray, down-right);
    }

    &:hover {
      &:before {
        @include triangle(8px, $dark-gray, down-right);
      }
    }
  }
}

.form-control {
  background: #f6f6f6;
  border-color: #ccc;
  font-size: rem(16);
  color: $dark-gray;
  box-shadow: none;
  line-height: 40px;
  height: auto;
  padding: 0 20px;

  &:focus {
    box-shadow: none;
    border-color: #aaa;
  }
}

select.form-control {
  height: 40px;
}