.splash-col {
  // display: block;
  float: left;
  width: 33.3333%;
  min-height: 100%;
  height: calc(100vh - 84px);
  position: relative;
  
  &:hover {
    .splash-overlay {
      opacity: .8;
    }

    .splash-text {
      h1 {
        color: $accent-color;
      }

      p,
      span {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.splash-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 3;
  opacity: 0;
  transition: opacity ease .8s;
}

.splash-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.splash-text {
  position: relative;
  z-index: 4;
  @include vcenter();
  width: 100%;
  height: 100%;
  color: $dark-gray;
  text-align: center;
  padding-top: 200px;
  
  h1,
  p,
  span {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  h1 {
    font-size: rem(20);
    color: #fff;
    text-transform: uppercase;
    margin-top: 0;
  }

  p,
  span {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition: all ease .5s;
  }

  span {
    transition-delay: .3s;
  }
}