extends layout

block vars
  - var bodyClass = 'about';

block content
  include ../components/modules/header.html

  section.section.section-about
    .container
      h1.section-heading Siapa itu Romy Rafael?
    .section-about-cover
    .section-content
      .container
        p Romy Rafael (Lahir di Surabaya, 12 Juli 1977) dikenal di Indonesia sebagai Hypnotist / Psycological Illusionist. Dan dia menolak untuk disebut sebagai pesulap, karena yang dilakukannya menggunakanberbagai macam unsur Hypnotism, Psychology, Misdirection dan Linguistic Technique yang dikembangkannya disaat usia 6 tahun.
        p Awal ketertarikannnya muncul disaat kedua orangtuanya membawa seorang pesulap untuk datang dan menjadi bagian dari acara ulang tahunnya yang ke 6, dan sejak saat itu ketertarikannya pada dunia misteri dimulai dan dia mulai memperlajari semua yang dapat diatemui mengenai semua hal yang berhubungan dengan seni sulap, kemudian berkembang sangat baik sehingga di usia 14 tahun menjadi anggota termuda dari International Brotherhood of Magician Ring 321 di Surabaya.
        p Tetapi kesungguhannya dimulai saat dia duduk di bangku SMA di Surabaya Romy Rafael mulai mempelajari secara sungguh-sungguh, menganalisa semua hal yang berhubungan dengan pikiran manusia dan menggunakan tehnik-tehnik tersebut untuk kehidupannya. Setelah masuk dan mengikuti pendidikan di Universitas Airlangga Surabaya.

        h2 Tim Manajemen
        p Contact person (kerja sama): Endah +62 815 775 9696

        p <strong>Romy Rafael Hypnotherapy Center</strong><br>Contact : 0818 399124, 0819 32433457<br>Email : <a href="#">info@romyrafael.net</a>


  include ../components/modules/footer.html
