extends layout

block vars
  - var bodyClass = 'home';

block content
  include ../components/modules/header.html

  section.section.section-main
    .container
      h1.section-heading Klien Kami

      .section-content
        .clients-list.clients-slider.js-clients-slider-alt
          .client-cell.
            <div class="client-thumbnail"><img src="assets/images/client1.png" alt="Client Name"></div>
          .client-cell.
            <div class="client-thumbnail"><img src="assets/images/client1.png" alt="Client Name"></div>
          .client-cell.
            <div class="client-thumbnail"><img src="assets/images/client1.png" alt="Client Name"></div>
          .client-cell.
            <div class="client-thumbnail"><img src="assets/images/client1.png" alt="Client Name"></div>
          .client-cell.
            <div class="client-thumbnail"><img src="assets/images/client1.png" alt="Client Name"></div>
          .client-cell.
            <div class="client-thumbnail"><img src="assets/images/client1.png" alt="Client Name"></div>
          .client-cell.
            <div class="client-thumbnail"><img src="assets/images/client1.png" alt="Client Name"></div>
          .client-cell.
            <div class="client-thumbnail"><img src="assets/images/client1.png" alt="Client Name"></div>
          .client-cell.
            <div class="client-thumbnail"><img src="assets/images/client1.png" alt="Client Name"></div>
          .client-cell.
            <div class="client-thumbnail"><img src="assets/images/client1.png" alt="Client Name"></div>
          .client-cell.
            <div class="client-thumbnail"><img src="assets/images/client1.png" alt="Client Name"></div>
          .client-cell.
            <div class="client-thumbnail"><img src="assets/images/client1.png" alt="Client Name"></div>
          .client-cell.
            <div class="client-thumbnail"><img src="assets/images/client1.png" alt="Client Name"></div>
          .client-cell.
            <div class="client-thumbnail"><img src="assets/images/client1.png" alt="Client Name"></div>
          .client-cell.
            <div class="client-thumbnail"><img src="assets/images/client1.png" alt="Client Name"></div>
          .client-cell.
            <div class="client-thumbnail"><img src="assets/images/client1.png" alt="Client Name"></div>
          .client-cell.
            <div class="client-thumbnail"><img src="assets/images/client1.png" alt="Client Name"></div>
          .client-cell.
            <div class="client-thumbnail"><img src="assets/images/client1.png" alt="Client Name"></div>
          .client-cell.
            <div class="client-thumbnail"><img src="assets/images/client1.png" alt="Client Name"></div>

  section.section.section-light
    .container

      h2.section-heading Apa Kata Mereka

      .section-content
        .row
          .col-sm-6.
            <div class="testimonial-item">
              <div class="testimonial-person">
                <div class="testimonial-person-image">
                  <img src="assets/images/testimonial-image.jpg" alt="James Jameson">
                </div>
                <div class="testimonial-person-info">
                  <div class="vcenter">
                    <h3 class="testimonial-person-name">Ir. J Handojo</h3>
                    <h4 class="testimonial-person-job">Presiden directort, PT. Central Java Drinking Water</h4>
                  </div>
                </div>
              </div>
              <div class="testimonial-content">
                "Kami ingin berterima kasih pada Romy Rafael atas pertunjukan yang menajubkan dan menghibur yang diberikan pada 12.000 Distributor kami di Jakarta Expo, Primary Hall Kemayoran dalam acara kami 24 Januari 2010. Dia telah menawan perhatian penonton dengan penampilannya yang sangat mengagumkan dan memecahkan rekor dari Museum Rekor Indonesia karena telah berhasil menghipnotis 12.000 orang dalam waktu dan tempat yang sama. Dan perusahaan kami menerima hiburan yang sangat baik dan distributor-distributor kami sangat termotifasi sekaligus terhibur. Kami harap Romy Rafael bisa tampil lagi pada acara kami di lain kesempatan."
              </div>
            </div>

          .col-sm-6.
            <div class="testimonial-item">
              <div class="testimonial-person">
                <div class="testimonial-person-image">
                  <img src="assets/images/testimonial-image.jpg" alt="James Jameson">
                </div>
                <div class="testimonial-person-info">
                  <div class="vcenter">
                    <h3 class="testimonial-person-name">Ir. J Handojo</h3>
                    <h4 class="testimonial-person-job">Presiden directort, PT. Central Java Drinking Water</h4>
                  </div>
                </div>
              </div>
              <div class="testimonial-content">
                "Kami ingin berterima kasih pada Romy Rafael atas pertunjukan yang menajubkan dan menghibur yang diberikan."
              </div>
            </div>

          .col-sm-6.
            <div class="testimonial-item">
              <div class="testimonial-person">
                <div class="testimonial-person-image">
                  <img src="assets/images/testimonial-image.jpg" alt="James Jameson">
                </div>
                <div class="testimonial-person-info">
                  <div class="vcenter">
                    <h3 class="testimonial-person-name">Ir. J Handojo</h3>
                    <h4 class="testimonial-person-job">Presiden directort, PT. Central Java Drinking Water</h4>
                  </div>
                </div>
              </div>
              <div class="testimonial-content">
                "Kami ingin berterima kasih pada Romy Rafael atas pertunjukan yang menajubkan dan menghibur yang"
              </div>
            </div>

          .col-sm-6.
            <div class="testimonial-item">
              <div class="testimonial-person">
                <div class="testimonial-person-image">
                  <img src="assets/images/testimonial-image.jpg" alt="James Jameson">
                </div>
                <div class="testimonial-person-info">
                  <div class="vcenter">
                    <h3 class="testimonial-person-name">Ir. J Handojo</h3>
                    <h4 class="testimonial-person-job">Presiden directort, PT. Central Java Drinking Water</h4>
                  </div>
                </div>
              </div>
              <div class="testimonial-content">
                "Kami ingin berterima kasih pada Romy Rafael atas pertunjukan yang menajubkan dan menghibur yang diberikan pada 12.000 Distributor kami di Jakarta Expo, Primary Hall Kemayoran dalam acara kami 24 Januari 2010. Dia telah menawan perhatian penonton dengan penampilannya yang sangat mengagumkan dan memecahkan rekor dari Museum Rekor Indonesia karena telah berhasil menghipnotis 12.000 orang dalam waktu dan tempat yang sama. Dan perusahaan kami menerima hiburan yang sangat baik dan distributor-distributor kami sangat termotifasi sekaligus terhibur. Kami harap Romy Rafael bisa tampil lagi pada acara kami di lain kesempatan."
              </div>
            </div>
  include ../components/modules/footer.html
