extends layout

block vars
  - var bodyClass = 'content';

block content
  section.section
    .container
      .section-heading
        h1 Nepal Earthquake Kills More Than 3,200; Mountain Villages Devasted
        .section-meta Published: September 20, 2015 at 11:20 PM <span class="meta-separator">|</span> by Romy Rafael

      p.section-short-description.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi dolor cupiditate minima odio assumenda ab eius consequatur veritatis, deleniti repudiandae doloribus alias velit, non optio, veniam nisi. Reprehenderit, iure magni.

      .section-image
        img(src="assets/images/content-image.jpg")

      .section-content.wysiwyg-content
        p Romy Rafael (Lahir di Surabaya, 12 Juli 1977) dikenal di Indonesia sebagai Hypnotist / Psycological Illusionist. Dan dia menolak untuk disebut sebagai pesulap, karena yang dilakukannya menggunakanberbagai macam unsur Hypnotism, Psychology, Misdirection dan Linguistic Technique yang dikembangkannya disaat usia 6 tahun.
        p Awal ketertarikannnya muncul disaat kedua orangtuanya membawa seorang pesulap untuk datang dan menjadi bagian dari acara ulang tahunnya yang ke 6, dan sejak saat itu ketertarikannya pada dunia misteri dimulai dan dia mulai memperlajari semua yang dapat diatemui mengenai semua hal yang berhubungan dengan seni sulap, kemudian berkembang sangat baik sehingga di usia 14 tahun menjadi anggota termuda dari International Brotherhood of Magician Ring 321 di Surabaya.
        p Tetapi kesungguhannya dimulai saat dia duduk di bangku SMA di Surabaya Romy Rafael mulai mempelajari secara sungguh-sungguh, menganalisa semua hal yang berhubungan dengan pikiran manusia dan menggunakan tehnik-tehnik tersebut untuk kehidupannya. Setelah masuk dan mengikuti pendidikan di Universitas Airlangga Surabaya.

        blockquote.
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, veritatis, minus iure maxime quas autem facilis dolores omnis officia odio esse tempora est animi impedit optio aliquam suscipit porro recusandae!</p>
          <footer><cite><span class="highlight">Romy Rafael,</span> Hynotist</cite></footer>

        ul
          li Please update this article to reflect recent events or newly available information. The Payment Services Directive (PSD) is an EU Directive, administered by.
          li Please update this article to reflect recent events or newly available information. The Payment Services Directive (PSD) is an EU Directive, administered by.
          li Please update this article to reflect recent events or newly available information. The Payment Services Directive (PSD) is an EU Directive, administered by.
          li Please update this article to reflect recent events or newly available information. The Payment Services Directive (PSD) is an EU Directive, administered by.

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus aut, expedita temporibus, voluptate laborum quam commodi, quia iure voluptatum reiciendis hic, sapiente quisquam eius dignissimos incidunt rem porro itaque! Amet!

        ol
          li Mark Zuckerberg, Tim Cook dining at top table for White House China state dinner. Mark Zuckerberg, Tim Cook dining at top table for White House China state dinner.
          li Mark Zuckerberg, Tim Cook dining at top table for White House China state dinner. Mark Zuckerberg, Tim Cook dining at top table for White House China state dinner.
          li Mark Zuckerberg, Tim Cook dining at top table for White House China state dinner. Mark Zuckerberg, Tim Cook dining at top table for White House China state dinner.
          li Mark Zuckerberg, Tim Cook dining at top table for White House China state dinner. Mark Zuckerberg, Tim Cook dining at top table for White House China state dinner.

        p See also: <a href="#">How Google Made 1 Trillion Dollar in a day</a>

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis suscipit cumque dolore consequuntur pariatur provident aperiam ea impedit eum quisquam aliquam, possimus id quasi nesciunt ipsum asperiores omnis, quo unde.

        table.
          <thead>
            <tr>
              <th>No</th>
              <th>Title</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Lorem ipsum dolor sit amet, consectetur</td>
              <td>20</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Lorem ipsum dolor sit amet, consectetur</td>
              <td>20</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Lorem ipsum dolor sit amet, consectetur</td>
              <td>20</td>
            </tr>
          </tbody>
