extends layout

block vars
  - var bodyClass = 'home';

block content
  include ../components/modules/header.html

  section.section.section-slider
    .container
      h1 Slider

  section.section.section-main
    .container
      .row
        .col-sm-8.col-sm-offset-2
          h1.section-heading.tt-normal Apakah Anda mencari entertainer profesional yang dapat menyampaikan pesan dari produk dan jasa Anda?
          
          .section-content
            .embed-responsive.embed-responsive-16by9.
              <iframe class="embed-responsive-item" src="//www.youtube.com/embed/4iEOCG37fq0"></iframe>
          
          a.btn.btn-outline(href="#") Siapa yang kami layani

  section.section.section-dark
    .container

      h2.section-heading Cara Kerja Kami

      .section-content
        p Turpis mattis elementum ultrices? Turpis porta tincidunt hac, vut, placerat augue platea elementum! Egestas, sagittis tristique. Sociis placerat? Nisi lundium egestas. Phasellus elementum sed, rhoncus rhoncus enim porttitor sed enim? Rhoncus turpis pid dis integer tristique, sociis in! Odio tincidunt porttitor hac, in, risus scelerisque, rhoncus pulvinar tortor penatibus dictumst?  Turpis mattis elementum ultrices? Turpis porta tincidunt hac, vut, placerat augue platea elementum! Egestas, sagittis tristique. Sociis placerat? Nisi lundium egestas. Phasellus elementum sed, rhoncus rhoncus enim porttitor sed enim? Rhoncus turpis pid dis integer tristique, sociis in! Odio tincidunt porttitor hac, in, risus scelerisque, rhoncus pulvinar tortor penatibus dictumst? 

      a.btn.btn-outline(href="#") Lihat Layanan & Cara Kerja Kami

  section.section.section-gray
    .container
      h1.section-heading Sebagian dari Klien Kami

      .section-content
        .clients-list.
          <div class="client-thumbnail"><img src="assets/images/client1.png" alt="Client Name"></div>

      a.btn.btn-outline(href="#") Lihat Semua Klien dan Testimoni

  section.section
    .container
      h1.section-heading.tt-normal Saksikan juga acara LINTAS IMAJI di NET TV

      .section-content
        .row
          .col-sm-3
            .embed-responsive.embed-responsive-16by9.
              <iframe class="embed-responsive-item" src="//www.youtube.com/embed/4iEOCG37fq0"></iframe>
          .col-sm-3
            .embed-responsive.embed-responsive-16by9.
              <iframe class="embed-responsive-item" src="//www.youtube.com/embed/4iEOCG37fq0"></iframe>
          .col-sm-3
            .embed-responsive.embed-responsive-16by9.
              <iframe class="embed-responsive-item" src="//www.youtube.com/embed/4iEOCG37fq0"></iframe>
          .col-sm-3
            .embed-responsive.embed-responsive-16by9.
              <iframe class="embed-responsive-item" src="//www.youtube.com/embed/4iEOCG37fq0"></iframe>
      
      a.btn.btn-outline(href="#") Lihat semua episode

  include ../components/modules/footer.html
