extends layout

block content
  include ../components/modules/header.html

  section.section.section-light
    .container
      h1.section-heading Produk Kami Yang Dapat Mengubah Hidup Anda

      .section-content
        include ../components/modules/product-nav.html

        .col-sm-4.col-sm-offset-4.text-center
          h4 Siapa nama orang di bawah ini?

          .secret-question-image
            img.thumbnail(src="assets/images/magician-image.jpg")
          
          form.
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Masukkan jawaban Anda">
            </div>
            <input type="submit" value="Submit" class="btn btn-primary">

  include ../components/modules/footer.html