<div style="background: #ccc; padding: 20px;">
  <a href="#" class="btn btn-primary">Button</a>
  <a href="#" class="btn btn-outline">Kontak Kami</a>
  <a href="#" class="btn btn-primary btn-rounded">Button Rounded</a>
</div>

<div class="btn-group lang-selector">
  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img src="../assets/images/flags/id.png" alt="Indonesia"> ID <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <a href="#"><img src="../assets/images/flags/id.png" alt="Indonesia"> ID</a>
    </li>
    <li>
      <a href="#"><img src="../assets/images/flags/en.png" alt="English"> EN</a>
    </li>
  </ul>
</div>