<div class="clients-list clients-slider js-clients-list">
  <div class="client-cell"><div class="client-thumbnail"><img src="assets/images/client1.png" alt="Client Name"></div></div>
  <div class="client-cell"><div class="client-thumbnail"><img src="assets/images/client1.png" alt="Client Name"></div></div>
  <div class="client-cell"><div class="client-thumbnail"><img src="assets/images/client1.png" alt="Client Name"></div></div>
  <div class="client-cell"><div class="client-thumbnail"><img src="assets/images/client1.png" alt="Client Name"></div></div>
  <div class="client-cell"><div class="client-thumbnail"><img src="assets/images/client1.png" alt="Client Name"></div></div>
  <div class="client-cell"><div class="client-thumbnail"><img src="assets/images/client1.png" alt="Client Name"></div></div>
  <div class="client-cell"><div class="client-thumbnail"><img src="assets/images/client1.png" alt="Client Name"></div></div>
  <div class="client-cell"><div class="client-thumbnail"><img src="assets/images/client1.png" alt="Client Name"></div></div>
  <div class="client-cell"><div class="client-thumbnail"><img src="assets/images/client1.png" alt="Client Name"></div></div>
</div>