<header class="header simple-header hidden-xs">
  <div class="container-fluid">
    <a href="#" class="logo"><img src="../assets/images/logo.png" alt="Romy Rafael Hypnotheraphy"></a>

    <div class="pull-left">
      <div class="social-links">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
    <div class="pull-right">
      <div class="btn-group lang-selector">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="../assets/images/flags/id.png" alt="Indonesia"> ID <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a href="#"><img src="../assets/images/flags/id.png" alt="Indonesia"> ID</a>
          </li>
          <li>
            <a href="#"><img src="../assets/images/flags/en.png" alt="English"> EN</a>
          </li>
        </ul>
      </div>

      <a href="#" class="btn btn-primary">Kontak Kami</a>
    </div>
  </div>
</header>