<header class="header simple-header">
  <div class="container-fluid">
    <a href="#" class="logo"><img src="../assets/images/logo.png" alt="Romy Rafael Hypnotheraphy"></a>

    <div class="pull-left">
      <div class="social-links">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
    <div class="pull-right">
      <div class="btn-group lang-selector">
        <a href="#" class="btn btn-default active"><img src="../assets/images/flags/id.png" alt="Indonesia"></a>
        <a href="#" class="btn btn-default"><img src="../assets/images/flags/en.png" alt="English"></a>
      </div>

      <a href="#" class="btn btn-outline">Kontak Kami</a>
    </div>
  </div>
</header>