<header class="header">
  <div class="header-menu-other">
    <div class="container-fluid">
      <div class="pull-left header-menu-other-links">
        <a href="#">Tentang Romy Rafael</a>
        <a href="#">Afirmasi Positif</a>
        <a href="#">Produk Kami</a>
        <a href="#">Lintas Imaji (NET)</a>
      </div>
      <div class="pull-right">
        <div class="btn-group lang-selector">
          <a href="#" class="btn btn-default active"><img src="../assets/images/flags/id.png" alt="Indonesia"></a>
          <a href="#" class="btn btn-default"><img src="../assets/images/flags/en.png" alt="English"></a>
        </div>

        <form action="" class="search-form form-inline">
          <input class="form-control" type="text" name="q" placeholder="Search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
  </div>

  <nav class="navbar">
    <ul class="nav navbar-nav">
      <li><a href="#" class="btn btn-tab active">Corporate Entertainer</a></li>
      <li><a href="#" class="btn btn-tab">Corporate Speaker</a></li>
      <li><a href="#" class="btn btn-tab">Certified Therapist</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-button">
      <li><a href="contact.html" class="btn btn-primary">Kontak Kami</a></li>
    </ul>
  </nav>

  <nav class="sub-navbar">
    <a href="#" class="logo"><img src="../assets/images/logo.png" alt="Romy Rafael Hypnotheraphy"></a>
    <ul class="nav sub-navbar-nav">
      <li>
        <a href="#">
          <p><strong>Pelanggan</strong></p>
          <small class="text-muted">Siapa yang butuh jasa kami</small>
        </a>
      </li>

      <li>
        <a href="#">
          <p><strong>Layanan</strong></p>
          <small class="text-muted">Cara kerja kami</small>
        </a>
      </li>

      <li>
        <a href="#">
          <p><strong>Klien & testimoni</strong></p>
          <small class="text-muted">Apa kata klien kami</small>
        </a>
      </li>

      <li>
        <a href="#">
          <p><strong>Sesi terapi</strong></p>
          <small class="text-muted">Lorem ipsum dolorem</small>
        </a>
      </li>

      <li>
        <a href="#">
          <p><strong>Asosiasi terapis kami</strong></p>
          <small class="text-muted">Lorem ipsum dolorem</small>
        </a>
      </li>
    </ul>
  </nav>
</header>