<h4>Client</h4>

<div class="client-thumbnail"><img src="assets/images/client1.png" alt="Client Name"></div>
<div class="client-thumbnail"><img src="assets/images/client2.png" alt="Client Name"></div>

<h4>Testimonial</h4>

<div class="testimonial-item">
  <div class="testimonial-person">
    <div class="testimonial-person-image">
      <img src="assets/images/testimonial-image.jpg" alt="James Jameson">
    </div>
    <div class="testimonial-person-info">
      <div class="vcenter">
        <h3 class="testimonial-person-name">Ir. J Handojo</h3>
        <h4 class="testimonial-person-job">Presiden directort, PT. Central Java Drinking Water</h4>
      </div>
    </div>
  </div>
  <div class="testimonial-content">
    "Kami ingin berterima kasih pada Romy Rafael atas pertunjukan yang menajubkan dan menghibur yang diberikan pada 12.000 Distributor kami di Jakarta Expo, Primary Hall Kemayoran dalam acara kami 24 Januari 2010. Dia telah menawan perhatian penonton dengan penampilannya yang sangat mengagumkan dan memecahkan rekor dari Museum Rekor Indonesia karena telah berhasil menghipnotis 12.000 orang dalam waktu dan tempat yang sama. Dan perusahaan kami menerima hiburan yang sangat baik dan distributor-distributor kami sangat termotifasi sekaligus terhibur. Kami harap Romy Rafael bisa tampil lagi pada acara kami di lain kesempatan."
  </div>
</div>