h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-weight: bold;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h1 {
  font-size: rem(24);
}

h2 {
  font-size: rem(22);
}

h3 {
  font-size: rem(20);
}

.splash-tagline {
  font-size: rem(30);
  text-align: center;
  text-transform: none;
  background: #fff;
  padding: 10px;
  font-weight: normal;
  
  @include breakpoint(medium) {
    background: transparent;
    padding: 0;
  }

  span {
    line-height: 48px;
    
    @include breakpoint(medium) {
      background: #fff;
      display: inline-block;
      margin: 4px 0;
      padding: 0 10px;
    }
  }

  strong {
    color: $accent-color;
  }
}

.highlight {
  color: $accent-color;
}

.tt-normal {
  text-transform: none;
}

.tt-uppercase {
  text-transform: uppercase;
}


blockquote {
  border-left: none;
  font-size: rem(20);
  font-family: $georgia;
  font-style: italic;
  line-height: 1.4;
  text-align: center;
  padding: 0;

  @include breakpoint(small) {
    padding: 10px 15%;
  }

  footer {
    position: relative;
    padding-top: 15px;
    margin-top: 15px;
    
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -40px;
      width: 80px;
      height: 2px;
      background: $accent-color;
    }
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  text-align: left;
  
  th {
    background: #f3f3f3;
    text-transform: uppercase;
  }
  
  td,
  th {
    border: 1px solid #ddd;
    padding: 10px 15px;
  }
}